h2 {
  text-align:center;
}
.search-box {
  text-align: center;
}
.search-box input {
  width:600px;
}
.image-wrapper {
  display:flex;
  flex-wrap:wrap;
}
.design {
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
}
.design img {
  width:600px;
}
.hidden {
  display:none;
}
