/* margin padding reset */
body, div, p,  ul, ol, li, dl, dt, dd, table, th ,td, img, figure,
h1, h2, h3 ,h4 ,h5, h6, form, select
{ margin: 0; padding: 0; }

html
{ -webkit-text-size-adjust: 100%; }

body
{ -webkit-font-smoothing: antialiased; }

/* remove list point mark */
ul, ol
{ list-style: none; }

/* remove border & off descender */
img
{border: 0;vertical-align: middle;}

/* remove descender */
svg, input, select, textarea, label
{ vertical-align: middle; }

/* set collapse */
table
{ border-collapse: collapse; }

/* break word for all elements */
*, *:before, *:after
{word-break: break-all;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

pre
{ white-space: pre-wrap; }

address
{ font-style: normal; }

p
{ line-height: 1.5; }


body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}
.site-header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.content-width {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.contents-tidy {
    display: flex;
    justify-content: space-between;
}

a {
    color: #222;
    text-decoration: none;
}
.header-logo > .header-logo-pc {
    width: auto;
    height: 20px;
}
.header-logo > .header-logo-sp {
  display: none;
}
img {
    width: 100%;
}
.site-header .site-header-inner > *:last-child {
  display: inline-flex;
}
.header-nav-hamburger {
    display: none;
}
.header-nav-list.contents-tidy {
    align-items: center;
}
.header-nav .header-nav-item {
    display: block;
}
.header-nav .header-nav-item > span:first-child {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.header-nav .header-nav-item > span {
    display: block;
    font-weight: bold;
    text-align: center;
}
.header-nav .header-nav-item > span:last-child {
    font-size: 10px;
}
.header-nav .header-nav-list > li + li {
    margin-left: 30px;
}
.header-nav-list > li + li:last-child {
    margin-left: 20px;
}
.header-button {
    width: 150px;
}
.link-button.menu {
    height: 40px;
    font-size: 12px;
}
.link-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: #f79314;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 60px;
    font-size: 20px;
    border: none;
}
.content-width {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.contents-tidy {
    display: flex;
    justify-content: space-between;
}

a {
    color: #222;
    text-decoration: none;
}
.header-logo > .header-logo-pc {
    width: auto;
    height: 20px;
}
.header-logo > .header-logo-sp {
  display: none;
}
img {
    width: 100%;
}
.site-header .site-header-inner > *:last-child {
  display: inline-flex;
}
.header-nav-hamburger {
    display: none;
}
.header-nav-list.contents-tidy {
    align-items: center;
}
.header-nav .header-nav-item {
  display: block;
}
.header-nav .header-nav-item > span:first-child {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.header-nav .header-nav-item > span {
    display: block;
    font-weight: bold;
    text-align: center;
}
.header-nav .header-nav-item > span:last-child {
    font-size: 10px;
}
.header-nav .header-nav-list > li + li {
    margin-left: 30px;
}
.header-nav-list > li + li:last-child {
    margin-left: 20px;
}
.header-button {
    width: 150px;
}
.link-button.menu {
    height: 40px;
    font-size: 12px;
}
.link-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: #f79314;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 60px;
    font-size: 20px;
    border: none;
} 
#menu-btn-check {
  display: none;
}
@media screen and (max-width: 1080px) {
  .site-header {
  position: fixed;
  background-color: #fff;
  z-index: 10;
  width: 100%;
  }
}
@media screen and (max-width: 1080px) {
  .header-nav .header-nav-hamburger {
  cursor: pointer;
  display: block;
  position: relative;
  width: 30px;
  height: 21px;
  z-index: 100;
  }
}
@media screen and (max-width: 1080px) {
  .menu-btn .header-nav-hamburger-line {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #222;
  transform: translate(0, -50%);
  border-radius: 10px;
  transition: top 0.2s, transform 0.2s, opacity 0.3s;
  }
}
@media screen and (max-width: 1080px) {
  .menu-btn .header-nav-hamburger-line:first-child {
  top: 0;
  }
}
@media screen and (max-width: 1080px) {
  .menu-btn .header-nav-hamburger-line:last-child {
  top: 100%;
  }
}
@media screen and (max-width: 1080px) {
  .header-nav-list {
  overflow-y: scroll;
  position: fixed;
  top: 60px;
  left: 100%;
  width: 100%;
  display: block;
  padding-top: 20px;
  padding-bottom: 75px;
  transition: transform 1s;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-overflow-scrolling: touch;
  }
}
@media screen and (max-width: 1080px) {
  #menu-btn-check:checked ~ .header-nav-list {
  transform: translate3d(-100%, 0, 0);
  }
}
@media screen and (max-width: 1080px) {
  #menu-btn-check:checked ~ .menu-btn .header-nav-hamburger-line {
    will-change: top;
    transform: translate(20px, -50%);
    opacity: 0;
  }
}
@media screen and (max-width: 1080px) {
  #menu-btn-check:checked ~ .menu-btn .header-nav-hamburger-line:first-child {
  top: 50%;
  transform: translate(0, -50%) rotate(45deg);
  opacity: 1;
  }
}
@media screen and (max-width: 1080px) {
  #menu-btn-check:checked ~ .menu-btn .header-nav-hamburger-line:last-child {
  top: 50%;
  transform: translate(0, -50%) rotate(-45deg);
  opacity: 1;
  }
}
@media screen and (max-width: 1080px) {
  .header-nav .header-nav-list.is-scroll {
  top: 60px;
  bottom: 0;
  }
}
@media screen and (max-width: 1080px) {
  .header-nav .header-nav-item {
  padding: 20px 0;
  }
}
@media screen and (max-width: 1080px) {
  .header-nav .header-nav-item > span:first-child {
  font-size: 16px;
  letter-spacing: 5px;
  color: #fff;
  }
}
@media screen and (max-width: 1080px) {
  .header-nav .header-nav-item > span:last-child {
  font-size: 12px;
  margin-top: 10px;
  color: #f79314;
  letter-spacing: 2px;
  }
}
@media screen and (max-width: 1080px) {
  .header-nav .header-nav-list > li + li {
  margin-left: 0;
  }
}
@media screen and (max-width: 1080px) {
  .header-nav-list > li + li:last-child {
  margin-left: 20px;
  }
}
@media screen and (max-width: 1080px) {
  .header-button-outline {
  margin-top: 20px;
  }
}
@media screen and (max-width: 1080px) {
  .header-button {
  margin: 0 auto;
  width: 250px;
  }
}
@media screen and (max-width: 1080px) { 
  .link-button.menu {
  height: 60px;
  font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
    .site-header {
    padding-top: 15px;
    padding-bottom: 15px;
    }
}
@media screen and (max-width: 767px) {
    .content-width {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
    }
}
@media screen and (min-width:767px) {
    .hover-opacity {
        transition: opacity 0.2s;
    }
    .hover-opacity:hover {
      opacity: .7;
    }
}
@media screen and (max-width: 767px) {
    .header-logo > .header-logo-pc {
    display: none;
    }
}    
@media screen and (max-width: 767px) {    
    .header-logo > .header-logo-sp {
    display: inline-block;
    width: auto;
    height: 16px;
    }
}
@media screen and (min-width:767px) {
    .header-logo > .header-logo-sp {
    display: none;
    }
}
@media screen and (max-width: 767px) {
    .header-nav .header-nav-list {
    top: 52px;
    }
}
@media screen and (min-width: 767px) {
    .hover-opacity {
    transition: opacity 0.2s;
    }
}
/*コース・料金*/
.section-underlayer-hero.course {
  background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/course-hero-pc.png);
}
.section-underlayer-hero {
    padding-top: 70px;
    padding-bottom: 71px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1440px;
    background-color: #f79314;
}
.underlayer-hero-heading.course {
    padding-left: 145px;
}
.underlayer-hero-heading {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
}
@media screen and (max-width: 1080px) {
    main {
    padding-top: 60px;
    }
}
@media screen and (max-width: 767px) {
    main {
    padding-top: 52px;
    }
}
@media screen and (max-width: 767px) {
    .section-underlayer-hero.course {
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/course-hero-sp.png);
    }
}
@media screen and (max-width: 767px) {
    .content-width {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
    }
}
@media screen and (max-width: 767px) {
    .underlayer-hero-heading.course {
    padding-left: 0px;
    }
}
@media screen and (max-width: 767px) {
    .underlayer-hero-heading {
    padding: 0;
    font-size: 22px;
    text-align: center;
    line-height: 1.3;
    }
}
/*コースについて*/
.main-section.course-detail {
    background-color: #fcfaf5;
}
.main-section {
    padding-top: 75px;
    padding-bottom: 80px;
}
.section-header.contents-tidy {
    flex-direction: column;
    align-items: center;
}
.section-header {
    width: 100%;
}
.section-main-heading {
    font-size: 46px;
    font-weight: bold;
}
.section-header h2 > span {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.sp-br {
    display: inline;
}
.section-header.bottom-line::after {
    content: '';
    display: block;
    border-bottom: solid 6px #f79314;
    width: 50px;
    margin-top: 20px;
}
.section-header.contents-tidy {
    flex-direction: column;
    align-items: center;
}
.main-section .section-header + .section-content {
    margin-top: 60px;
}
.detail-text {
    margin-top: 30px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}
.under-decoration > br {
    display: none;
}
.pc-br {
    display: block;
}
.detail-text--emphasis {
    margin-top: 24px;
    font-size: 20px;
    font-weight: bold;
}
.under-decoration {
    background: linear-gradient(transparent 70%, #fff79d 70%, #fff79d);
    word-wrap: break-word;
}
@media screen and  {
    .main-section {
    padding-top: 60px;
    padding-bottom: 60px;
    }
}
@media screen and (max-width: 767px) {
    .section-main-heading {
    text-align: center;
    font-size: 26px !important;
    line-height: 1.2;
    }
}
@media screen and (max-width: 767px) {
    .section-header h2 > span {
    letter-spacing: 1px;
    font-size: 30px;
    }
}
@media screen and (max-width: 767px) {
    .section-header h2 > span {
    letter-spacing: 1px;
    font-size: 30px;
    }
}
@media screen and (max-width: 767px) {
    .sp-br {
    display: block;
    }
}
@media screen and (max-width: 767px) {
    .main-section .section-header + .section-content {
    margin-top: 50px;
    }
}
@media screen and (max-width: 767px) {
    .detail-text {
    font-size: 15px;
    text-align: left;
    }
}
@media screen and (max-width: 767px) {
    .pc-br {
    display: inline;
    }
}
@media screen and (max-width: 767px) {
    .detail-text--emphasis {
    font-size: 16px;
    text-align: center;
    }
}
@media screen and (max-width: 767px) {
    .under-decoration > br {
    display: block;
    }
}
/*全コースの共通POINT*/
.detail-point {
    margin-top: 100px;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
}
.detail-point .list-no {
    background-color: #fff;
}
.list-no {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -90px auto 0 auto;
    background-color: #fcfaf5;
    border-radius: 50%;
    color: #f79314;
    font-weight: bold;
    font-size: 40px;
}
.list-no-image {
    width: 40px;
    margin-top: -8px;
}
.detail-point-title {
    margin-top: -20px;
    font-size: 30px;
    line-height: 36px;
}
.detail-cassette {
    width: 31%;
    margin-top: 40px;
}
.detail-cassette-title {
    padding: 4px;
    border-radius: 15px;
    color: #fff;
    background-color: #222;
}
.detail-cassette-image {
    margin-top: 16px;
}
.detail-cassette-text {
    margin-top: 16px;
    font-size: 16px;
    font-weight: bold;
}
.detail-cassette-text::before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 20px;
    margin-right: 10px
    background: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-finger.png) no-repeat;
    background-size: 100%;
}
@media screen and (max-width: 767px) {
    .detail-point {
    margin-top: 80px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    }
}
@media screen and (max-width: 767px) {
    .detail-point .list-no {
    width: 80px;
    height: 80px;
    margin-top: -70px;
    }
}
@media screen and (max-width: 767px) {
    .list-no-image {
    width: 32px;
    }
}
@media screen and (max-width: 767px) {
    .detail-point-title {
    font-size: 20px;
    }
}
@media screen and (max-width: 767px) {
    .detail-box {
    flex-direction: column;
    }
}
@media screen and (max-width: 767px) {
    .detail-cassette {
    width: 100%;
    margin-top: 36px;
    }
}
@media screen and (max-width: 767px) {
    .detail-cassette-title {
    font-size: 15px;
    }
}
@media screen and (max-width: 767px) {
    .detail-cassette-text {
    font-size: 15px;
    }
}
@media screen and (max-width: 767px) {
    .detail-cassette-text::before {
    vertical-align: sub;
    }
}
/*選べる2コース*/
.detail-course-block-box {
    margin-top: 60px;
    padding: 0px 40px 0px;
    display: flex;
    text-align: center;
}
.detail-course-block:first-child {
    margin-right: 25px;
}
.detail-course-block {
    width: 48.5%;
    border-collapse: separate;
    border: 1px solid #7070701A;
    border-radius: 10px;
    opacity: 1;
}
.detail-course-head {
    background-color: #F79314;
    font-family: NotoSansCJKjp-Bold, Arial, Helvetica, sans-serif;
    color: white;
    padding: 18px;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
}
.detail-course-head > span {
    font-size: 14px;
}
.detail-course-head > p {
    font-size: 20px;
    margin-top: 3px;
}
.detail-course-content:nth-child(even) {
    background-color: #fffdfa;
}
.detail-course-content {
    padding: 18px;
}
.detail-course-content .detail-course-content-price {
    font-size: 28px;
    font-family: Lato-Black;
    font-weight: bold;
    margin: 10px 0px 20px;
}
.detail-course-content-price:before {
    content: "\FFE5"; 
    font-family: NotoSansCJKjp-Bold, Arial, Helvetica, sans-serif;
}
.detail-course-content-price:after {
    content: "\7A0E\5225";
    font-family: NotoSansCJKjp-Bold, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 4px;
}
.detail-course-content-body {
    font-family: Noto Sans CJK JP;
    font-size: 16px;
    color: #22222299;
    line-height: 2em;
    text-align: left;
    margin-bottom: 10px;
}
.detail-course-content:nth-child(odd) {
    background-color: #fff8ea;
}
.detail-course-term {
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
}
.detail-course-term:first-letter {
    font-family: Lato-Black;
    font-size: 30px;
}
.detail-course-content span {
    color: #F79214;
    margin-left: 5px;
}
.detail-course-anchor > a {
    color: #F79214;
    font-weight: bold;
}
.detail-course-anchor > a:before {
    content: "\203A";
    transform: matrix(0, 1, -1, 0, 0, 0);
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
}
@media screen and (max-width: 767px) {
    .detail-course-block-box {
    overflow-x: auto;
    padding: initial;
    display: block;
    margin: 0 auto;
    }
}
@media screen and (max-width: 767px) {
    .detail-course-block:first-child {
    margin-right: initial !important;
    margin-bottom: 60px;
    }
}
@media screen and (max-width: 767px) {
    .detail-course-block{
    width: 100%;
    }
}
/*コースプラン*/
.plan-box {
    margin-top: 60px;
    padding: 40px;
    border-radius: 20px;
    background-color: #fcfaf5;
}
.plan-sub-head {
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
}
.plan-head {
    max-width: 550px;
    margin: 0 auto;
    font-size: 36px;
    line-height: 1;
    text-align: center;
    color: #f79214;
    background: -webkit-linear-gradient(-40deg, #f79214, #f74e06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.plan-cassettes {
    margin-top: 40px;
    padding: 16px 20px 20px;
    border-radius: 10px;
    background-color: #fff;
}
.plan-cassettes-head {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
}
.plan-cassettes-head::before {
    content: '';
    position: relative;
    top: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-point.png);
    background-size: 100%;
}
.list-content {
    justify-content: flex-start;
    align-items: baseline;
    padding-left: 8px;
    font-size: 16px;
    line-height: 26px;
}
.list-content::before {
    content: '';
    display: inline-block;
    min-width: 8px;
    height: 8px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #f79314;
}
.desc-title {
    align-items: center;
    width: 142px;
    margin-top: 20px;
    padding: 4px 26px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    color: #f79214;
    background-color: #fcfaf5;
}
.desc-text {
    margin-top: 20px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 18px;
}
.desc-title.detail::before {
    width: 17px;
    height: 17px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-pencil.png);
}
.desc-title::before {
    content: '';
    display: inline-block;
    margin-top: 2px;
    margin-right: 6px;
    background-size: 100%;
}
.desc-text + .desc-title {
    margin-top: 30px;
}
.desc-title.term::before {
    width: 16px;
    height: 18px;
    margin-left: 2px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-calender.png);
}
.desc-title.condition::before {
    width: 17px;
    height: 14px;
    margin-left: 2px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-condition.png);
}
.desc-title.fee::before {
    width: 20px;
    height: 20px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-coin.png);
}
.plan-cassettes-skipping {
    display: flow-root;
    padding: 20px;
}
.plan-cassettes-skipping-left {
    float: left;
    width: 90px;
    height: 90px;
    text-align: center;
    margin-right: 20px;
}
.plan-cassettes-skipping-right {
    float: left;
    display: contents;
}
.plan-cassettes-skipping-right > h4 {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
}
.plan-cassettes-skipping-right>h4>br {
    display: none;
}
.plan-cassettes-skipping-right > p {
    font-size: 16px;
}
.plan-cassettes-skipping-right > p > span {
    color: #F79214;
}
.plan-cassettes-tools {
    margin-top: 28px;
    display: flow-root;
}
.plan-cassettes-tool:nth-child(odd) {
    margin-right: 2%;
}
.plan-cassettes-tool {
    width: 49%;
    float: left;
}
.plan-cassettes-tool-box {
    padding: 13px 8px 18px;
}
.plan-cassettes-tool-label {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 4px;
}
@media screen and (max-width: 767px) {
    .main-section {
    padding-top: 60px;
    padding-bottom: 60px;
    }
}
@media screen and (max-width: 767px) {
    .section-main-heading {
    text-align: center;
    font-size: 26px !important;
    line-height: 1.2;
    }
}
@media screen and (max-width: 767px) {
    .main-section .section-header + .section-content {
    margin-top: 50px;
    }
}
@media screen and (max-width: 767px) {
    .plan-box {
    margin-top: 40px;
    padding: 20px;
    }
}
@media screen and (max-width: 767px) {
    .plan-head {
    font-size: 24px;
    line-height: 27px;
    }
}
@media screen and (max-width: 767px) {
    .plan-head br {
    display: block;
    }
}
@media screen and (max-width: 767px) {
.plan-cassettes {
    margin-top: 20px;
    }
}
@media screen and (max-width: 767px) {
    .plan-cassettes-head {
    margin-bottom: 10px;
    text-align: center;
    }
}
@media screen and (max-width: 767px) {
    .list-content {
    padding-left: 0;
    }
}
@media screen and (max-width: 767px) {
    .list-content, .desc-text, .flow-image-box figcaption {
    font-size: 15px;
    line-height: 22px;
    }
}
@media screen and (max-width: 767px) {
    .desc-title {
    margin-right: auto;
    margin-left: auto;
    padding-right: 22px;
    padding-left: 22px;
    }
}
@media screen and (max-width: 767px) {
    .desc-text {
    padding-left: 0;
    text-align: center;
    }
}
@media screen and (max-width: 767px) {
    .list-content, .desc-text, .flow-image-box figcaption {
    font-size: 15px;
    line-height: 22px;
    }
}
@media screen and (max-width: 767px) {
    .desc-text p + p {
    margin-top: 10px;
    }
}
@media screen and (max-width: 767px) {
    .plan-cassettes-tools {
    display: block;
    margin-top: 17px;
    }
}
@media screen and (max-width: 767px) {
    .plan-cassettes-tool:nth-child(odd) {
    margin-right: initial !important;
    }
}
@media screen and (max-width: 767px) {
    .plan-cassettes-tool {
    float: initial !important;
    width: initial !important;
    }
}
@media screen and (max-width: 767px) {
    .plan-cassettes-tool-box {
    padding: 13px 8px 30px;
    }
}
@media screen and (max-width: 767px) {
    .plan-cassettes-skipping {
    display: block;
    padding: 18px;
    }
}
@media screen and (max-width: 767px) {
    .plan-cassettes {
    margin-top: 20px;
    }
}
/*受講生の声*/
.main-section.pick-up-contents {
    padding-top: 40px;
    background-color: #f6f6f6;
    overflow: hidden;
    padding-bottom: 120px;
    position: relative;
}
.pick-up-contents > .content-width {
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/bg-section-top-course.png);
    background-size: 281px 275px;
    background-repeat: no-repeat;
    background-position: calc(100% - 50px) top;
    padding-top: 35px;
}
.main-section.pick-up-contents > * {
    position: relative;
    z-index: 1;
}
.pick-up-contents-list {
    margin-left: -20px;
    margin-right: -20px;
}
.pick-up-contents-list > .pick-up-contents-cassette {
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% / 3);
}
.pick-up-contents-media .pick-up-contents-media-thumbnail {
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    height: 0;
    position: relative;
    padding-top: calc((190/320) * 100%);
}
.pick-up-contents-media .pick-up-contents-media-thumbnail > img {
    width: 100%;
    /*height: 145%;*/
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}
.pick-up-contents-media .pick-up-contents-media-text {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    line-height: 1.8;
}
@media screen and (max-width: 767px) {
    .main-section {
    padding-top: 60px;
    padding-bottom: 60px;
    }
}
@media screen and (max-width: 767px) {
    .main-section.pick-up-contents {
    padding-top: 55px;
    padding-bottom: 60px;
    }
}
@media screen and (max-width: 767px) {
    .main-section.pick-up-contents::before {
    content: '';
    position: absolute;
    display: block;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/bg-section-top-course.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 40px;
    left: 60%;
    width: 130px;
    height: 130px;
    }
}
@media screen and (max-width: 767px) {
    .pick-up-contents > .content-width {
    background: none;
    padding-top: 0;
    }
}
@media screen and (max-width: 767px) {
    .section-main-heading {
    text-align: center;
    font-size: 26px !important;
    line-height: 1.2;
    }
}
@media screen and (max-width: 767px) {
    .main-section .section-header + .section-content {
    margin-top: 50px;
    }
}
@media screen and (max-width: 767px) {
    .pick-up-contents-background {
    top: 0;
    left: 20px;
    position: absolute;
    }
}
@media screen and (max-width: 767px) {
    .pick-up-contents-list {
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
    }
}
/*フッター*/
    
.site-footer {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #f79314;
}
.page-top-button.contents-tidy {
    align-items: center;
    justify-content: center;
}
.page-top-button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -105px;
    right: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 12px 30px -15px;
    transition: 0.2s;
}
.page-top-arrow {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-left: solid 3px #f79214;
    border-top: solid 3px #f79214;
    transform: rotate(45deg);
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.site-footer-main .footer-nav {
    order: 2;
}
.footer-nav-item {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.footer-nav-item > span {
    font-weight: normal;
    margin-left: 1em;
}
.footer-nav > li + li {
    margin-top: 30px;
}
.site-footer-main .footer-character {
    order: 3;
    align-self: flex-end;
}
.footer-character > img {
    width: auto;
    height: 70px;
}
.site-footer-main .footer-info {
    order: 1;
}
.footer-info .footer-logo {
    display: inline-block;
    max-width: 280px;
}
.footer-info .footer-logo + .footer-company {
    margin-top: 25px;
}
.footer-info .footer-company, .footer-info .footer-address {
    font-size: 16px;
    font-weight: bold;
}
.footer-info .footer-company + .footer-address {
    margin-top: 10px;
}
.footer-info .footer-address + .footer-social {
    margin-top: 35px;
}
.footer-info .footer-social {
    display: flex;
}
.footer-info .footer-social-item {
    display: block;
    max-width: 60px;
}
.footer-info .footer-social > li + li {
    margin-left: 20px;
}
.footer-info {
    display: block;
    color: #fff;
}
.site-footer .site-footer-main + .site-footer-sub {
    margin-top: 60px;
}
.footer-copyright {
    color: #fff;
    font-size: 12px;
}
@media screen and (max-width: 767px) {
    .site-footer {
    padding-top: 60px;
    padding-bottom: 40px;
    }
}
@media screen and (max-width: 767px) {
    .page-top-button {
    right: 20px;
    top: -85px;
    }
}
@media screen and (max-width: 767px) {
    .site-footer-main .footer-nav {
    text-align: left;
    margin-left: 20px;
    }
}
@media screen and (max-width: 767px) {
    .site-footer-main * + .footer-character {
    margin-top: 50px;
    }
}
@media screen and (max-width: 767px) {
    .site-footer-main * + .footer-info {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #fff;
    }
}
@media screen and (max-width: 767px) {
    .footer-info .footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
}
@media screen and (max-width: 767px) {
    .footer-info .footer-company, .footer-info .footer-address {
    text-align: center;
    }
}
@media screen and (max-width: 767px) {
    .footer-info .footer-social {
    justify-content: center;
    }
}