.container {
  margin: 20px auto;
  width: 270px;
}
.controls {
  display: flex;
  justify-content: space-between;
}
#timer {
  margin-bottom: 20px;
  font-size: 30px;
  letter-spacing: 5px;
}
button {
  margin-left: 20px;
}